<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nisargpatel.locationtrack" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".activity.StepCountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_step_counter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SetThresholdsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_set_thresholds"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.StrideLengthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_calibration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GraphActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HeadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DataCollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_data_collection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QRCodeActivity"
            android:label="@string/title_activity_qr_code_scanner" >
        </activity>
        <activity
            android:name=".activity.UserListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DebugToolsActivity"
            android:label="@string/title_activity_debug_tools" >
        </activity>
        <activity
            android:name=".activity.StepCountCalibrationActivity"
            android:label="@string/title_activity_step_count_calibration" >
        </activity>
    </application>

</manifest>
