<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nisargpatel.inertialnavigation" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.StepCounterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_step_counter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SetThresholdsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_set_thresholds"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CalibrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_calibration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GraphActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OrientationTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DataCollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_data_collection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
